body {
  background-color: #eee;
}
pre {
  white-space: pre-wrap;
}
.header {
  margin-bottom: 10px;
  padding: 25px;
}
.header__title {
  color: #fff;
  font-size: 2em;
  margin: 0;
}
.header__subtitle {
  font-size: .6em;
  font-weight: normal;
}
.tabs {
  background-color: transparent;

  .tab a {
    color: #01579b;

    &:hover {
      color: #0277bd
    }
  }

  .indicator {
    background-color: #01579b;
  }
}
.page {
  margin: 30px;
}
.code {
  .js, .hljs {
    display: block;
    background-color: #fff;
    padding: 10px;
  }
}
.music-brainz-container {
  background-color: #fff;
  padding: 20px;
}
.average {
  color: #ffa000;

  &__icon {
    transform: scaleX(-1);
    font-size: 2em;
    font-weight: 100;
    line-height: 0;
  }

  &__main-value {
    margin: 0;
    font-size: 3rem;
    line-height: 1em;
    font-weight: 100;
  }

  &__label {
    font-weight: 300;
    position: relative;
    top: 20px;
  }

  .track__length {
    background-color: #ffa000;
  }
  .row {
    margin-bottom: -4px; 
  }
}
.track {
  &__length {
    display: block;
    width: 100%;
    height: 25px;
    background-color: #ffca28;
    margin-top: 3px;
  }
  &__value {
    margin-top: 1px;
    font-size: 1.58rem;
    line-height: 1em;
    font-weight: 100;
    margin-right: 3px;
    color: #fff;
  }

  &s__title {
    color: #ffca28;
  }
}
#albums-list {
  margin-right: -11px;
  margin-left: -11px;
}

.album {
  background-color: #fff;

  &__icon {
    font-size: 4em;
    display: block;
    margin: 10px 20px 10px 10px
  }

  &__title {
    font-size: 2em;
    font-weight: 100;
    margin-top: 20px;
    display: inline-block;
    line-height: 1.1em;
    margin: 20px 0;
  }

  &__detail {
    margin-left: 90px;
  }

  &__value {
    display: block;
    font-size: 1.3em;
    line-height: 1.1em;
    word-break: break-word;
  }

  &__label {
    font-size: .8em;
    margin-bottom: 1em;
    display: block;
    word-break: break-word;
  }

  .col {
    padding: 0;
  }
}